body {
  height: 100%;
  width: 100%;
  color:white;
  background-color: #00468b;
}

h1,h2,h3,h4{
  margin: 0;
}


/* -------------------NAVIGATION------------------- */

.nav-navbar, .nav-list {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.nav-navbar {
  background-color: #2a1e5c;
  color: white;
  padding: 1em 0;
}

h1 {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', sans-serif;
}

.nav-list {
  list-style-type: none;
  text-align: center;
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  padding: 0 3em;
}

 
@media screen and (min-width: 700px) {
  .nav-navbar, .nav-list {
    flex-direction: row;
    padding: 1em;
  }

  .nav-title {
    align-self: center;
  }

  .nav-list li {
    margin-left: 1em;
    
  }
}


/* ---------------------MAIN-------------------- */
.main-container {
  width: 100%;
  background-color: #00468b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: white 1px solid;
  
}

.main-container > h4, .main-container >h3 {
  margin: 2px 0;
}

.img-container {
  width: 20em;
  border-radius: 50%;
  object-fit: cover;
  margin: 2em 0;

}


/* ------------------------About Me--------------------------- */

.aboutme-container{
  background-color: #006eb0;
  padding: 1.2em;
}


/* -----------------------------Prosjekter-------------------------- */

.project-container {
  background-color: #00468b;
  padding-left: 1em;
}



.project-titles {
  margin-top: 1em;
}

.pog-button {
  margin-top: 100em;
}